body{
    background-color: black;
}
#section1{
    background-color: darkgray;
    width: 30%;
  padding-bottom: 20px;
    margin: auto;
    margin-top: 150px;
    border-radius: 10px;
    text-align: center;
}
button{
    width: 80%;
    border-radius: 8px;
    margin: 1%;
    height: 40px;
    background-color: cadetblue;
    color: white;
}
#picture{
    border-radius: 50%;
    margin-top: 30px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}